body{
    background-color: #dcd3d3;
}
h1{
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:100%;
    padding: 60px;
    text-align: center;
    background-image: url('header.png')
}
h2{
    text-align:center;
}

.row{
    margin-left:20%;
    position: relative;

}

